{
  "$schema": "https://swc.rs/schema.json",
  "sourceMaps": true,
  "module": {
    "type": "commonjs",
    "strict": true
  },
  "inputSourceMap":true,
  "jsc": {
    "target": "es2022",
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "baseUrl": "./",
    "paths": {
      "@/*": ["src/*"],
      "@root/*": ["./*"]
    }
  },
  "minify": true
}
